flows.json
[
    {
        "id": "d04d58b20f8bd8f3",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "1e17797c4d562721",
        "type": "mqtt in",
        "z": "d04d58b20f8bd8f3",
        "name": "",
        "topic": "medibox/status",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "43bdbd0d4d35d0e5",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "c79ef8b6d24a9739",
                "a72a625067c230dd"
            ]
        ]
    },
    {
        "id": "c79ef8b6d24a9739",
        "type": "function",
        "z": "d04d58b20f8bd8f3",
        "name": "function 1",
        "func": "let temp = msg.payload.temperature;\nlet humid = msg.payload.humidity;\nlet lux = msg.payload.lightIntensity;\n\nreturn [\n  {payload: temp}, \n  {payload: humid},\n  {payload: lux}\n];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 120,
        "wires": [
            [
                "109658840bc0ca71",
                "59848effe9b144a3"
            ],
            [
                "4e05994b2265a104",
                "9751205ae867142c"
            ],
            [
                "1590236e2a2044dc",
                "6f669d2c78b7611f"
            ]
        ]
    },
    {
        "id": "109658840bc0ca71",
        "type": "ui_gauge",
        "z": "d04d58b20f8bd8f3",
        "name": "Temp Gauge",
        "group": "89d652eaaf7afd6f",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "donut",
        "title": "Temperature",
        "label": "℃",
        "format": "{{payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 60,
        "wires": []
    },
    {
        "id": "59848effe9b144a3",
        "type": "ui_chart",
        "z": "d04d58b20f8bd8f3",
        "name": "Temp Chart",
        "group": "89d652eaaf7afd6f",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Temperature Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "4e05994b2265a104",
        "type": "ui_gauge",
        "z": "d04d58b20f8bd8f3",
        "name": "Hum Gauge",
        "group": "19b29865da772d58",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{payload}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 140,
        "wires": []
    },
    {
        "id": "9751205ae867142c",
        "type": "ui_chart",
        "z": "d04d58b20f8bd8f3",
        "name": "Hum Chart",
        "group": "19b29865da772d58",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Humidity Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 590,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "a72a625067c230dd",
        "type": "debug",
        "z": "d04d58b20f8bd8f3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 360,
        "y": 60,
        "wires": []
    },
    {
        "id": "1590236e2a2044dc",
        "type": "ui_gauge",
        "z": "d04d58b20f8bd8f3",
        "name": "Lux Gauge",
        "group": "798601412be6644a",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Light Intensity",
        "label": "",
        "format": "{{payload}}",
        "min": 0,
        "max": "1",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 590,
        "y": 220,
        "wires": []
    },
    {
        "id": "6f669d2c78b7611f",
        "type": "ui_chart",
        "z": "d04d58b20f8bd8f3",
        "name": "Lux Chart",
        "group": "798601412be6644a",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "Plot",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "cubic",
        "nodata": "No Data Available",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 580,
        "y": 260,
        "wires": [
            []
        ]
    },
    {
        "id": "fa8ae2f92e5591c2",
        "type": "ui_slider",
        "z": "d04d58b20f8bd8f3",
        "name": "Sampling Interval",
        "label": "Sampling Interval(s):",
        "tooltip": "",
        "group": "798601412be6644a",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "ts",
        "topicType": "flow",
        "min": 0,
        "max": "30",
        "step": 1,
        "className": "",
        "x": 150,
        "y": 360,
        "wires": [
            [
                "e95c34015d99f7fc"
            ]
        ]
    },
    {
        "id": "da8fd635e0ec1c30",
        "type": "ui_slider",
        "z": "d04d58b20f8bd8f3",
        "name": "Sending Interval",
        "label": "Sending Interval(min):",
        "tooltip": "",
        "group": "798601412be6644a",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "tu",
        "topicType": "flow",
        "min": 0,
        "max": "5",
        "step": "0.5",
        "className": "",
        "x": 160,
        "y": 420,
        "wires": [
            [
                "c5aaf78e16a195d4"
            ]
        ]
    },
    {
        "id": "25f99d98d4ae5f79",
        "type": "ui_slider",
        "z": "d04d58b20f8bd8f3",
        "name": "Minimum Angle",
        "label": "Minimum Angle(deg): ",
        "tooltip": "",
        "group": "1310109abb6f0b25",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "theta_min",
        "topicType": "flow",
        "min": 0,
        "max": "120",
        "step": 1,
        "className": "",
        "x": 660,
        "y": 360,
        "wires": [
            [
                "aabdccb4e3b36c79"
            ]
        ]
    },
    {
        "id": "dce9815149eff092",
        "type": "ui_slider",
        "z": "d04d58b20f8bd8f3",
        "name": "Controlling Factor",
        "label": "Controlling Factor(γ)",
        "tooltip": "",
        "group": "1310109abb6f0b25",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "gamma",
        "topicType": "flow",
        "min": 0,
        "max": "1",
        "step": "0.05",
        "className": "",
        "x": 650,
        "y": 420,
        "wires": [
            [
                "39d1e08baf120968"
            ]
        ]
    },
    {
        "id": "2180803801350f20",
        "type": "ui_slider",
        "z": "d04d58b20f8bd8f3",
        "name": "Tmed",
        "label": "Ideal temperature(℃):",
        "tooltip": "",
        "group": "1310109abb6f0b25",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "end",
        "topic": "tmed",
        "topicType": "flow",
        "min": "10",
        "max": "40",
        "step": 1,
        "className": "",
        "x": 690,
        "y": 480,
        "wires": [
            [
                "e08d1b0b57708164"
            ]
        ]
    },
    {
        "id": "e95c34015d99f7fc",
        "type": "mqtt out",
        "z": "d04d58b20f8bd8f3",
        "name": "TOPIC_TS",
        "topic": "medibox/ts",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43bdbd0d4d35d0e5",
        "x": 430,
        "y": 360,
        "wires": []
    },
    {
        "id": "c5aaf78e16a195d4",
        "type": "mqtt out",
        "z": "d04d58b20f8bd8f3",
        "name": "TOPIC_TU",
        "topic": "medibox/tu",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43bdbd0d4d35d0e5",
        "x": 430,
        "y": 420,
        "wires": []
    },
    {
        "id": "aabdccb4e3b36c79",
        "type": "mqtt out",
        "z": "d04d58b20f8bd8f3",
        "name": "TOPIC_OFFSET",
        "topic": "medibox/offsetAngle",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43bdbd0d4d35d0e5",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "39d1e08baf120968",
        "type": "mqtt out",
        "z": "d04d58b20f8bd8f3",
        "name": "TOPIC_GAMMA",
        "topic": "medibox/gamma",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43bdbd0d4d35d0e5",
        "x": 940,
        "y": 420,
        "wires": []
    },
    {
        "id": "e08d1b0b57708164",
        "type": "mqtt out",
        "z": "d04d58b20f8bd8f3",
        "name": "TOPIC_TMED",
        "topic": "medibox/Tmed",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "43bdbd0d4d35d0e5",
        "x": 940,
        "y": 480,
        "wires": []
    },
    {
        "id": "cb4aa6786efd71da",
        "type": "ui_spacer",
        "z": "d04d58b20f8bd8f3",
        "name": "spacer",
        "group": "89d652eaaf7afd6f",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "1a0453a32719bdc6",
        "type": "ui_spacer",
        "z": "d04d58b20f8bd8f3",
        "name": "spacer",
        "group": "19b29865da772d58",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "be48222e633c9268",
        "type": "ui_spacer",
        "z": "d04d58b20f8bd8f3",
        "name": "spacer",
        "group": "1310109abb6f0b25",
        "order": 2,
        "width": 6,
        "height": 1
    },
    {
        "id": "9d4e848fd17eccae",
        "type": "ui_spacer",
        "z": "d04d58b20f8bd8f3",
        "name": "spacer",
        "group": "1310109abb6f0b25",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "43bdbd0d4d35d0e5",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "89d652eaaf7afd6f",
        "type": "ui_group",
        "name": "Temperature",
        "tab": "b573af2978c6e9d9",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "19b29865da772d58",
        "type": "ui_group",
        "name": "Humidity",
        "tab": "b573af2978c6e9d9",
        "order": 2,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "798601412be6644a",
        "type": "ui_group",
        "name": "Light Intensity",
        "tab": "b573af2978c6e9d9",
        "order": 3,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1310109abb6f0b25",
        "type": "ui_group",
        "name": "Shade Control",
        "tab": "b573af2978c6e9d9",
        "order": 4,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "b573af2978c6e9d9",
        "type": "ui_tab",
        "name": "Medibox",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]